<template>
    <CModal size="xl" :visible="visible" @close="closeModal" aria-labelledby="AddMemberModal">
        <CForm @submit.prevent="handleSubmit">
            <CModalHeader>
                <CModalTitle id="AddMemberModal" class="mb-2">Thêm thành viên vào bài thi</CModalTitle>
            </CModalHeader>
            <CModalBody>
                <div>
                    <label class="typo__label mb-2">Thêm thành viên</label>
                    <multiselect v-model="value[testId]" :options="userList" :multiple="true" :close-on-select="false"
                        :clear-on-select="false" :preserve-search="true" placeholder="Gõ để tìm kiếm" label="fullName"
                        track-by="fullName" :preselect-first="false" :taggable="true" @tag="addTag">
                    </multiselect>
                    <!-- <pre class="language-json"><code>{{ value[testId] }}</code></pre> -->
                </div>
                <!-- Các thành phần khác của modal -->
            </CModalBody>

            <CModalFooter>
                <CButton color="secondary" @click="closeModal">
                    Đóng
                </CButton>

                <CButton color="primary" type="submit">Lưu</CButton>
            </CModalFooter>
        </CForm>
    </CModal>
</template>

<script>
import Multiselect from 'vue-multiselect'
import 'vue-multiselect/dist/vue-multiselect.css'
import axios from 'axios';

export default {
    components: {
        Multiselect
    },
    data() {
        return {
            value: [],
            userList: [],
            userEnrolled: []
        }
    },
    props: {
        visible: {
            type: Boolean,
            required: true,
        },
        testId: {
            type: Number,
            required: true,
        },
    },
    watch: {
        visible(newVal) {
            if (newVal) {
                this.getUsersEnrolledTest();
            }
        }
    },
    mounted() {
        axios.get('api/users/allUserActivated').then((response) => {
            this.userList = response.data;
        }).catch((error) => {
            console.error('Error fetching data:', error);
        });

    },
    methods: {
        closeModal() {
            this.$emit('close');
        },
        addTag(newTag) {
            const tag = {
                testId: this.testId,
                name: newTag,
                code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
            }
            this.options.push(tag)
            this.value.push(tag)
        },
        async getUsersEnrolledTest() {
            const response = await axios.get('api/testUser/getUserEnrolledTest/' + this.testId);
            this.userEnrolled = response.data;
            this.value[this.testId] = this.userEnrolled;
        },
        async handleSubmit() {
            try {
                const response = await axios.post('api/testUser/addUserToTheTest/' + this.testId, this.value[this.testId]);
                if (response.status == 200) {
                    this.closeModal();
                }
            } catch (error) {
                console.error('Error submitting exam:', error);
                this.message = response.data.message
            }
        },
    },
};
</script>