<template>
    <CContainer class="border bg-white" fluid>
  <h3 class="text-center mt-2">THÔNG TIN BÀI THI</h3>
  <hr>
  <CRow class="mt-3">
    <CCol xs="6" sm="4" lg="3" >
      <CWidgetStatsC
        class="mb-3"
        :value="users.length > 0 ? users.length : 0"
        :progress="{ color: 'info', value: 100 }"
      >
        <template #icon><i class="fas fa-users" style="font-size: 40px; color: blue;"></i></template>
        <template #title>Số thành viên</template>
      </CWidgetStatsC>
    </CCol>
    <CCol xs="6" sm="4" lg="3" >
      <CWidgetStatsC
        class="mb-3"
        :value="test.count_question"
        :progress="{ color: 'info', value: 100 }"
      >
        <template #icon><i class="far fa-question-circle" style="font-size: 40px; color: green;"></i></template>
        <template #title>Số lượng câu hỏi</template>
      </CWidgetStatsC>
    </CCol>
    <CCol xs="6" sm="4" lg="3" >
      <CWidgetStatsC
        class="mb-3"
        :value="test.time_work"
        :progress="{ color: 'info', value: 100 }"
      >
        <template #icon><i class="far fa-clock" style="font-size: 40px; color:deepskyblue;"></i></template>
        <template #title>Thời gian làm </template>
      </CWidgetStatsC>
    </CCol>
    <CCol xs="6" sm="4" lg="3" >
      <CWidgetStatsC
        class="mb-3"
        :value="test.time_start"
        :progress="{ color: 'info', value: 100 }"
      >
        <template #icon><i class="	fas fa-hourglass-start" style="font-size:40px; color: chocolate;"></i></template>
        <template #title>Thời gian bắt đầu</template>
      </CWidgetStatsC>
    </CCol>
    <CCol xs="6" sm="4" lg="3" >
      <CWidgetStatsC
        class="mb-3"
        :value="test.time_end"
        :progress="{ color: 'info', value: 100 }"
      >
        <template #icon> <i class="fa fa-hourglass-end" style="font-size:36px; color: red;"></i> </template>
        <template #title>Thời gian kết thúc</template>
      </CWidgetStatsC>
    </CCol>
  </CRow>
  <hr>
  <CRow class="mt-3 mb-3">
    <CCol :xs="12" :sm="6">
      <h4>DANH SÁCH THÀNH VIÊN</h4>
      <CListGroup v-for="(user, index) in users" :key="index">
        <CListGroupItem> <b>{{ user.user.fullName }}</b></CListGroupItem>
    
      </CListGroup>
    </CCol>
    <CCol :xs="12" :sm="6">
      <h4 class="mobile-margin-top">DANH SÁCH HOÀN THÀNH</h4>
      <CListGroup v-for="(user, index) in users" :key="index">
        <CListGroupItem v-if="user.result != null"> <b>{{ user.user.fullName }}</b> - Kết quả thi: {{ user.result }} - Thời gian làm: {{ user.user.time_work_display }}</CListGroupItem>
      </CListGroup>
    </CCol>
  </CRow>
</CContainer>

  </template>
  
  <script>
  import axios from 'axios';
  export default {
    data() {
      return {
        test: {
          name: '',
          count_question: '',
          time_work: '',
          time_start: '',
          time_end: '',
          user_created: '',
          user_update: '',
        },
        users: [],
        lstUser: [],
        message: '',
        idShow: '',
      };
    },
    mounted() {
      const id = this.$route.params.id;
      this.idShow = id;
      axios
          .get(`/api/test/getTest/${this.idShow}`)
          .then((response) => {
              this.test = response.data;
              this.test.time_start = this.test.time_start.substring(0, 10);
              this.test.time_end = this.test.time_end.substring(0, 10);
          })
          .catch((error) => {
              console.error('Error fetching test list:', error);
          });

    },
    methods: {
      async getUserByTest() {
        const id = this.$route.params.id;
        this.idShow = id;
        try {
          const response = await axios.get(`/api/testUser/getUserByTest/${this.idShow}`);
          this.users = response.data;
          this.users.forEach(item => {
            const minutes = Math.floor(item.timeWork / 60);
            const seconds = item.timeWork % 60;
            // Tạo chuỗi 
            item.user.time_work_display = `${minutes} phút ${seconds} giây`;
          });
        } catch (error) {
          console.error('Error submitting exam:', error);
        }
      },
    },
    created() {
        // Gọi API khi component được tạo
        this.getUserByTest();
   },
  };
  </script>
  
  <style scoped>
  @media (max-width: 576px) {
  .mobile-margin-top {
    margin-top: 15px;
  }
}
  </style>
  