<template>
    <CAlert v-if="message" color="success" class="d-flex align-items-center">
      <CIcon icon="cil-check-circle" class="flex-shrink-0 me-2" width="24" height="24" />
      <div>
        {{ message }}
      </div>
    </CAlert>
    <CContainer class="border bg-white" fluid>
      <h3 class="text-center mt-2">SỬA BÀI THI</h3>
      <hr>
      <CRow>
        <CCol xs="12" md>
          <label class="mb-1" for="">Tên bài thi</label>
          <CFormInput v-model="exam.name" name="name"/>
          <span class="text-danger" v-if="errors.name">{{ errors.name }}</span>
        </CCol>
        <CCol xs="12" md>
          <label class="mb-1" for="">Số lượng câu hỏi</label>
          <CFormInput v-model="exam.count_question" type="number" name="count_question"/>
          <span class="text-danger" v-if="errors.count_question">{{ errors.count_question }}</span>
        </CCol>
      </CRow>
      <CRow class="mt-2">
        <CCol xs="12" md>
          <label class="mb-1" for="">Thời gian làm bài</label>
          <CFormInput v-model="exam.time_work" type="number" name="time_work"/>
          <span class="text-danger" v-if="errors.time_work">{{ errors.time_work }}</span>
        </CCol>
        <CCol xs="12" md>
          <label class="mb-1" for="">Thời gian bắt đầu</label>
          <CFormInput v-model="exam.time_start" type="date" name="time_start"/>
          <span class="text-danger" v-if="errors.time_start">{{ errors.time_start }}</span>
        </CCol>
      </CRow>
      <CRow class="mt-2 mb-4">
        <CCol xs="12" md>
          <label class="mb-1" for="">Thời gian kết thúc</label>
          <CFormInput v-model="exam.time_end" type="date" name="time_end"/>
          <span class="text-danger" v-if="errors.time_end">{{ errors.time_end }}</span>
        </CCol>
      </CRow>
      <hr>
      <CRow class="mt-4 mb-3">
        <CCol xs="12" class="d-flex justify-content-end">
          <CButton color="warning"><router-link to="/test" class="text-white">Quay lại</router-link></CButton>
          <p class="p-1"></p>
          <CButton type="submit" color="primary" @click="submitExam">Lưu lại</CButton>
        </CCol>
      </CRow>
    </CContainer>
  </template>
  
  <script>
  import axios from 'axios';
  export default {
    data() {
      return {
        exam: {
          name: '',
          count_question: '',
          time_work: '',
          time_start: '',
          time_end: '',
          user_created: '',
          user_update: '',
        },
        message: '',
        idEdit: '',
        errors: {
          name: '',
          count_question: '',
          time_work: '',
          time_start: '',
          time_end: '',
        }
      };
    },
    mounted() {
      const id = this.$route.params.id;
      console.log('ID từ URL:', id);
      this.idEdit = id;
      console.log('ID từ URL:', this.idEdit);
      axios
        .get(`/api/test/getTest/${this.idEdit}`)
        .then((response) => {
            this.exam = response.data;
            this.exam.time_start = this.exam.time_start.substring(0, 10);
            this.exam.time_end = this.exam.time_end.substring(0, 10);
        })
        .catch((error) => {
            console.error('Error fetching test list:', error);
        });
    },
    methods: {
      async submitExam() {
        if (this.validateExam()){
          try {
            const response = await axios.put(`/api/test/edit/${this.idEdit}`, this.exam);
            console.log('Exam submitted:', response.data);
            this.message = response.data.message;
            // Chuyển hướng
            setTimeout(() => {
              this.$router.push({ name: 'Test' });
            }, 2000);
          } catch (error) {
            console.error('Error submitting exam:', error);
            this.message = response.data.message
          }
        }
        
      },
      validateExam() {
      let valid = true;
      // Reset errors
      this.errors = {
        name: '',
        count_question: '',
        time_work: '',
        time_start: '',
        time_end: '',
      };
      // Validate each field
      if (!this.exam.name) {
        this.errors.name = 'Tên bài thi là bắt buộc';
        valid = false;
      }
      if (!this.exam.count_question) {
        this.errors.count_question = 'Số lượng câu hỏi là bắt buộc';
        valid = false;
      }
      if (!this.exam.time_work) {
        this.errors.time_work = 'Thời gian làm bài là bắt buộc';
        valid = false;
      }
      if (!this.exam.time_start) {
        this.errors.time_start = 'Thời gian bắt đầu là bắt buộc';
        valid = false;
      }
      if (!this.exam.time_end) {
        this.errors.time_end = 'Thời gian kết thúc là bắt buộc';
        valid = false;
      } else if (this.exam.time_end <= this.exam.time_start) {
        this.errors.time_end = 'Thời gian kết thúc phải lớn hơn thời gian bắt đầu';
        valid = false;
      }
     
      return valid;
    },
    }
  };
  </script>
  
  <style scoped>
  .text-white {
    color: white;
    text-decoration: none;
  }
  .text-danger {
    font-size: 12px;
    color: red;
  }
  </style>
  