<template>
  <div>
    <CNav variant="tabs" role="tablist">
      <CNavItem>
        <CNavLink
          href="javascript:void(0);"
          :active="tabPaneActiveKey === 1"
          @click="
            () => {
              changeTab(1);
            }
          "
        >
          Bài thi
        </CNavLink>
      </CNavItem>
      <CNavItem>
        <CNavLink
          href="javascript:void(0);"
          :active="tabPaneActiveKey === 2"
          @click="
            () => {
              changeTab(2);
            }
          "
        >
          Bài thi của tôi
        </CNavLink>
      </CNavItem>
    </CNav>
    <!-- Nội dung của các tab -->
  </div>

  <CTabContent>
    <CTabPane role="tabpanel" aria-labelledby="home-tab" :visible="tabPaneActiveKey === 1">
      <CContainer class="bg-white mb-3 custom-borders" fluid>
        <h3 class="text-center pt-3">DANH SÁCH BÀI THI CẦN LÀM</h3>
        <hr />
        <CRow>
          <CCol v-for="test in lstTestUser" :key="test.id" xs="12" sm="12" md="6">
            <CCallout color="success custom-callout">
              <div>
                <h4 class="text-uppercase">{{ test.name }}</h4>
                <span>Số câu hỏi: {{ test.count_question }}</span>
                <br />
                <span>Thời gian làm bài: {{ test.time_work }} phút</span>
                <br />
                <span>Người giao bài: {{ test.creator }}</span>
              </div>
              <div class="mt-md-0" v-if="test.result == null">
                <router-link
                  :to="`/test/quiz/${test.id}/${test.count_question}/${test.time_work}`"
                  v-if="new Date(test.time_end) > new Date()"
                  class="btn btn-primary"
                  color="primary"
                >
                  <i class="fas fa-book-reader"></i> Làm bài
                </router-link>
                <CButton v-else color="danger" class="text-white" aria-disabled="true">
                  <i class="fas fa fa-exclamation-triangle"></i> Quá hạn
                </CButton>
              </div>
              <div class="mt-md-0" v-else>
                <router-link
                  :to="`/test/quiz/result/${test.id}`"
                  color="success"
                  class="text-white btn btn-success"
                  disabled
                >
                  <i class="fas fa fa-check"></i>Hoàn thành
                </router-link>
              </div>
            </CCallout>
          </CCol>
        </CRow>
      </CContainer>
    </CTabPane>
    <CTabPane role="tabpanel" aria-labelledby="profile-tab" :visible="tabPaneActiveKey === 2">
      <CContainer class="bg-white mb-3 custom-borders" fluid>
        <h3 class="text-center pt-3">DANH SÁCH BÀI THI</h3>
        <hr />
        <CRow class="align-items-end justify-content-end">
          <CCol xs="12" md="4">
            <label class="mb-1" for="">Tên bài thi</label>
            <CFormInput v-model="searchKeyword" placeholder="Nhập tên bài thi" aria-label="First name" />
          </CCol>
          <CCol xs="12" md="4">
            <label class="mb-1" for="">Tên người tạo</label>
            <CFormInput placeholder="Nhập tên người tạo bài" aria-label="First name" />
          </CCol>
          <CCol xs="12" md="4" class="mt-md-0">
            <div class="d-flex justify-content-center">
              <CButton color="primary" size="SM">Tìm kiếm</CButton>
            </div>
          </CCol>
        </CRow>
        <CRow class="mt-4">
          <CCol xs="9">
            <router-link to="/test/create" class="text-white btn btn-primary">Thêm mới</router-link>
          </CCol>
        </CRow>
        <AddMemberModal
          backdrop="static"
          :visible="isModalVisible"
          :testId="currentTestId"
          @close="closeModal"
        />
        <div class="table-responsive">
          <CTable class="mt-4 table-fixed" bordered border-color="primary">
            <CTableHead>
              <CTableRow class="text-center">
                <CTableHeaderCell scope="col">STT</CTableHeaderCell>
                <CTableHeaderCell scope="col" class="fixed-width">Tên</CTableHeaderCell>
                <CTableHeaderCell scope="col">Số câu hỏi</CTableHeaderCell>
                <CTableHeaderCell scope="col">Thời gian làm</CTableHeaderCell>
                <CTableHeaderCell scope="col">Thời gian bắt đầu</CTableHeaderCell>
                <CTableHeaderCell scope="col">Hạn kết thúc</CTableHeaderCell>
                <CTableHeaderCell scope="col" class="fixed-width">Thao tác</CTableHeaderCell>
              </CTableRow>
            </CTableHead>
            <CTableBody>
              <CTableRow
                v-for="(test, index) in paginatedTestList"
                :key="test.id"
                class="text-center"
              >
                <CTableHeaderCell scope="row">{{ index + 1 }}</CTableHeaderCell>
                <CTableDataCell class="text-left">{{ test.name }}</CTableDataCell>
                <CTableDataCell>{{ test.count_question }}</CTableDataCell>
                <CTableDataCell>{{ test.time_work }} phút</CTableDataCell>
                <CTableDataCell>{{ test.time_start }}</CTableDataCell>
                <CTableDataCell>{{ test.time_end }}</CTableDataCell>
                <CTableDataCell class="button-container fixed-width">
                  <a
                    @click.prevent="openAddMemberModal(test.id)"
                    to=""
                    class="btn btn-primary text-white custom-btn"
                    v-c-tooltip="{ content: 'Thêm người vào bài thi', placement: 'top' }"
                    ><i class="fas fa-user-plus"></i
                  ></a>

                  <router-link
                    :to="`/management/questions/create/${test.id}`"
                    class="btn btn-info text-white custom-btn"
                    v-c-tooltip="{ content: 'Thêm câu hỏi cho bài thi', placement: 'top' }"
                    ><i class="fas fa-book-medical"></i
                  ></router-link>
                  <router-link
                    :to="`/test/detail/${test.id}`"
                    class="btn btn-success text-white custom-btn"
                    v-c-tooltip="{ content: 'Xem thông tin bài thi', placement: 'top' }"
                    ><i class="far fa-eye"></i
                  ></router-link>
                  <router-link
                    :to="`/test/edit/${test.id}`"
                    class="btn btn-warning text-white custom-btn"
                    v-c-tooltip="{ content: 'Sửa thông tin bài thi', placement: 'top' }"
                    ><i class="far fa-edit"></i
                  ></router-link>
                  <a
                    @click="openDeleteModal(test.id)"
                    class="btn btn-danger text-white custom-btn"
                    v-c-tooltip="{ content: 'Xóa thông tin bài thi', placement: 'top' }"
                  >
                    <i class="far fa-trash-alt"></i>
                  </a>
                </CTableDataCell>
              </CTableRow>
            </CTableBody>
          </CTable>
          <!-- Modal -->
          <CModal
            :visible="modalDeleteTest"
            @close="
              () => {
                modalDeleteTest = false
              }
            "
            aria-labelledby="LiveDemoExampleLabel"
          >
            <CModalHeader>
              <CModalTitle id="LiveDemoExampleLabel">Xóa bài thi</CModalTitle>
            </CModalHeader>
            <CModalBody>Bạn có chắc chắn muốn xóa bài thi này không?</CModalBody>
            <CModalFooter>
              <CButton
                color="secondary"
                @click="
                  () => {
                    modalDeleteTest = false
                  }
                "
              >
                Quay lại
              </CButton>
              <CButton @click="deleteTest" color="primary">Xác nhận</CButton>
            </CModalFooter>
          </CModal>
        </div>

        <CRow>
          <CCol xs="12">
            <ul class="pagination justify-content-center">
              <li class="page-item" :class="{ disabled: currentPage === 1 }">
                <a
                  class="page-link"
                  href="#"
                  tabindex="-1"
                  aria-disabled="true"
                  @click.prevent="prevPage"
                  >Trước</a
                >
              </li>
              <li
                class="page-item"
                v-for="page in totalPages"
                :key="page"
                :class="{ active: currentPage === page }"
              >
                <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
              </li>
              <li class="page-item" :class="{ disabled: currentPage === totalPages }">
                <a class="page-link" href="#" @click.prevent="nextPage">Tiếp</a>
              </li>
            </ul>
          </CCol>
        </CRow>
      </CContainer>
    </CTabPane>
  </CTabContent>
</template>

<script>
import axios from 'axios'
import moment from 'moment'
import AddMemberModal from './add-member/AddMemberModal.vue'

export default {
  components: {
    AddMemberModal,
  },
  data() {
    return {
      testList: [], // Mảng để lưu trữ danh sách bài thi từ API
      data: [],
      dataTest: [],
      lstTestUser: [],
      currentPage: 1,
      itemsPerPage: 10,
      tabPaneActiveKey: 1,
      user_id: '',
      isModalVisible: false,
      currentTestId: null,
      modalDeleteTest: false,
      testToDeleteId: null,
      tabPaneActiveKey: 1,
      searchKeyword:'',
    }
  },
  computed: {
    filteredTest() {
      let filtered = this.testList;
      const keyword = this.searchKeyword.toLowerCase();

      if (keyword) {
        filtered = filtered.filter(test =>
          test.name.toLowerCase().includes(keyword) 
        );
      }
      return filtered;
    },
    paginatedTestList() {
      const start = (this.currentPage - 1) * this.itemsPerPage
      const end = start + this.itemsPerPage
      return this.filteredTest.slice(start, end)
    },
    totalPages() {
      return Math.ceil(this.filteredTest.length / this.itemsPerPage)
    },
  },
  mounted() {
    this.loadTabFromStorage();
    // Gọi API để lấy danh sách bài thi khi component
    this.loadTests();
  },
  methods: {
    changeTab(tabKey) {
      this.tabPaneActiveKey = tabKey;
      // Lưu trạng thái tab vào localStorage
      localStorage.setItem('activeTab', tabKey);
    },
    loadTabFromStorage() {
      const tab = localStorage.getItem('activeTab');
      if (tab) {
        this.tabPaneActiveKey = parseInt(tab, 10);
      }
    },
    loadTests() {
      axios
      .get('/api/test')
      .then((response) => {
        this.data = response.data
        this.data.forEach((item) => {
          if (item.user_created === this.user_id) {
            this.testList.push(item)
          }
        })
        console.log(this.testList)
        this.testList.forEach((test) => {
          // Chuyển đổi định dạng thời gian
          test.time_start = moment(test.time_start).format('DD/MM/yyyy HH:mm:ss')
          test.time_end = moment(test.time_end).format('DD/MM/yyyy HH:mm:ss')
        })
      })
      .catch((error) => {
        console.error('Error fetching test list:', error)
      })
    },
    openDeleteModal(id) {
      this.testToDeleteId = id
      this.modalDeleteTest = true
    },
    changePage(page) {
      if (page >= 1 && page <= this.totalPages) {
        this.currentPage = page
      }
    },
    goToQuiz() {
      this.$router.push({ path: '/test/quiz' })
    },
    nextPage() {
      if (this.currentPage < this.totalPages) {
        this.currentPage++
      }
    },
    prevPage() {
      if (this.currentPage > 1) {
        this.currentPage--
      }
    },
    deleteTest() {
       // Thực hiện xóa bài thi với this.testToDeleteId
        console.log('Xóa bài thi có ID:', this.testToDeleteId);
        axios.delete(`/api/test/deleteTest/${this.testToDeleteId}`)
        .then(response => {
            console.log('Xóa thành công:', response.data);
            this.modalDeleteTest = false;
            localStorage.setItem('activeTab', this.tabPaneActiveKey);
            //this.loadTests();
            window.location.reload();
        })
        .catch(error => {
            console.error('Lỗi khi xóa bài thi:', error);
        });
    },
    async callInforLogin() {
      try {
        const response = await axios.get(`api/test/getUser`)
        this.user_id = response.data
        console.log('ID user:', this.user_id)
      } catch (error) {
        console.error('Error submitting exam:', error)
      }

      try {
        const response = await axios.get(`api/testUser/getTestByUser/${this.user_id}`)
        this.dataTest = response.data
        console.log('Data:', this.dataTest)
        const promises = this.dataTest.map(async (item) => {
          const creatorResponse = await axios.get(`api/test/getUserById/${item.test.user_created}`)
          return creatorResponse.data // Trả về dữ liệu của người tạo bài
        })
        const creatorsData = await Promise.all(promises)
        this.dataTest.forEach((item, index) => {
          item.test.creator = creatorsData[index]
          item.test.result = item.result
          this.lstTestUser.push(item.test)
        })
      } catch (error) {
        console.error('Error submitting exam:', error)
      }
    },

    openAddMemberModal(testId) {
      this.currentTestId = testId
      this.isModalVisible = true
    },
    closeModal() {
      this.isModalVisible = false
    },
  },
  created() {
    // Gọi API khi component được tạo
    this.callInforLogin()
  },
  beforeRouteLeave(to, from, next) {
    // Xóa hoặc ẩn các tooltip tại đây
    const tooltips = document.querySelectorAll('.tooltip')
    tooltips.forEach((tooltip) => {
      tooltip.remove()
    })
    next()
  },
}
</script>

<style scoped>
.text-left {
  text-align: left !important;
}

.table-responsive {
  overflow-x: auto;
}

.table-fixed {
  table-layout: fixed;
  width: 100%;
}

.table-fixed th,
.table-fixed td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-fixed th,
.table-fixed td {
  min-width: 100px; /* Adjust as necessary */
}

.table-fixed .fixed-width {
  width: 255px; /* Set a fixed width for the Thao tác column */
}
.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.custom-btn {
  margin-bottom: 0;
}
.custom-callout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.top-0 {
  top: 0;
}
.end-0 {
  right: 0;
}
.mt-2 {
  margin-top: 0.5rem;
}
.me-2 {
  margin-right: 0.5rem;
}
.border {
  border-radius: 5px;
}
.custom-borders {
  border-left: 1px solid rgb(219, 223, 230);
  border-right: 1px solid rgb(219, 223, 230);
  border-bottom: 1px solid rgb(219, 223, 230);
}
.bg-white {
  background-color: #fff;
}
.text-white {
  color: white;
  text-decoration: none;
}
a {
  cursor: pointer;
}

@media (max-width: 576px) {
  .mt-md-0 {
    margin-top: 5px;
  }
  .custom-callout {
    display: block;
  }

}
</style>
