<template>
  <CForm>
    <CRow class="mb-3">
      <CFormLabel for="inputOldPassword" class="col-sm-2 col-form-label">Mật khẩu cũ</CFormLabel>
      <CCol sm="10">
        <CFormInput required v-model="users.old_password" type="password" id="inputOldPassword"/>
      </CCol>
    </CRow>
    <CRow class="mb-3">
      <CFormLabel for="inputNewPassword" class="col-sm-2 col-form-label">Mật khẩu mới</CFormLabel>
      <CCol sm="10">
        <CFormInput v-model="users.new_password" type="password" id="inputNewPassword"/>
      </CCol>
    </CRow>
    <CRow class="mb-3">
      <CFormLabel for="inputConfirmNewPassword" class="col-sm-2 col-form-label">Nhập lại mật khẩu mới</CFormLabel>
      <CCol sm="10">
        <CFormInput v-model="users.re_new_password" type="password" id="inputConfirmNewPassword"/>
      </CCol>
    </CRow>
    <CButton @click="handleChangePassword" color="primary" type="button">Đổi mật khẩu</CButton>
    <p v-if="message" :class="messageClass">{{ message }}</p>
  </CForm>
</template>

<script>
import { ref } from 'vue';
import axios from 'axios';

export default {
  data() {
    return {
      jwtToken: localStorage.getItem('token'),
      users: {
        old_password: '',
        new_password: '',
        re_new_password: '',
      },
      message: '',
      messageClass: ''
    };
  },
  
  methods: {
  async handleChangePassword() {
    if (!this.users.old_password || !this.users.new_password || !this.users.re_new_password) {
      this.message = 'Vui lòng điền đầy đủ thông tin mật khẩu.';
      this.messageClass = 'text-danger';
      return;
    }
    
    if (this.users.new_password !== this.users.re_new_password) {
      this.message = 'Mật khẩu mới và xác nhận mật khẩu không khớp.';
      this.messageClass = 'text-danger';
      return;
    }

    try {
      const response = await axios.post('api/users/change-password', {
        oldPassword: this.users.old_password,
        newPassword: this.users.new_password
      });
      console.log('Password changed:', response.data);
      this.message = 'Đổi mật khẩu thành công!';
      this.messageClass = 'text-success';
    } catch (error) {
      console.error('Error changing password:', error);
      if (error.response) {
        if (error.response.status === 400) {
          this.message = 'Mật khẩu cũ không đúng. Vui lòng kiểm tra lại.';
        } else {
          this.message = error.response.data.message || 'Đã xảy ra lỗi. Vui lòng thử lại.';
        }
      } else {
        this.message = 'Đã xảy ra lỗi. Vui lòng thử lại.';
      }
      this.messageClass = 'text-danger';
    }
  },
}
};
</script>
