<template>
  <div class="wrapper min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8" :sm="12">
          <CCard class="p-4">
            <CCardBody>
              <h1>Quên mật khẩu</h1>
              <p class="text-body-secondary">Vui lòng nhập tên tài khoản của bạn để đặt lại mật khẩu.</p>
              <CInputGroup class="mb-3">
                <CInputGroupText>
                  <CIcon icon="cil-user" />
                </CInputGroupText>
                <CFormInput 
                  placeholder="Tên tài khoản"
                  v-model="username"
                  required
                />
              </CInputGroup>
              <CButton color="primary" class="px-4" @click="goToResetPassword">Gửi yêu cầu</CButton>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'ForgotPassword',
  data() {
    return {
      username: ''
    };
  },
  methods: {
    async goToResetPassword() {
      if (!this.username) {
        alert('Vui lòng nhập tên tài khoản của bạn.');
        return;
      }
      try {
        const response = await axios.post('/api/auth/request-reset-password', { username: this.username });
        const token = response.data.token;
        this.$router.push({ name: 'ResetPassword', params: { username: this.username, token: token } });
      } catch (error) {
        console.error('Lỗi khi yêu cầu đặt lại mật khẩu:', error);
        alert('Không tồn tại tài khoản trong hệ thống, vui lòng thử lại.');
      }
    }
  }
};
</script>

