<template>
  <div class="wrapper min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="8" :sm="12">
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm @submit.prevent="handleSubmit">
                  <h1>Đăng nhập</h1>
                  <p class="text-body-secondary">Đăng nhập với tài khoản của bạn</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-user" />
                    </CInputGroupText>
                    <CFormInput 
                      placeholder="Tài khoản"
                      autocomplete="username"
                      v-model="username"
                    />
                  </CInputGroup>
                  <p v-if="errors.username" class="text-danger">{{ errors.username }}</p>
                  <CInputGroup class="mb-4">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput
                      type="password"
                      placeholder="Mật khẩu"
                      autocomplete="current-password"
                      v-model="password"
                    />
                  </CInputGroup>
                  <p v-if="errors.password" class="text-danger">{{ errors.password }}</p>
                  <p v-if="errors.general" class="text-danger">{{ errors.general }}</p>
                  <CRow>
                    <CCol :xs="6">
                      <CButton color="primary" class="px-4" type="submit">Đăng nhập</CButton>
                    </CCol>
                    <CCol :xs="6" class="text-right">
                      <CButton color="link" class="px-0" @click="goToForgotPassword">
                        Quên mật khẩu ?
                      </CButton>                     
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
            <CCard class="text-white bg-primary py-5" style="width: 100%">
              <CCardBody class="text-center">
                <div>
                  <h2>Đăng kí ngay!</h2>
                  <p>
                    Đăng kí tài khoản để tiếp tục truy cập vào hệ thống thi trắc nghiệm của chúng tôi!
                  </p>
                  <CButton color="light" variant="outline" class="mt-3" @click="goToRegister">
                    Nhấn vào đây!
                  </CButton>
                </div>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      errors: {
        username: '',
        password: '',
        general: ''
      }
    }
  },
  methods: {
    goToForgotPassword() {
      this.$router.push({ name: 'ForgotPassword' });
    },
    goToRegister() {
      this.$router.push({ name: 'Register' });
    },
    async handleSubmit() {
      this.errors.username = '';
      this.errors.password = '';
      this.errors.general = '';

      if (!this.username) {
        this.errors.username = 'Vui lòng nhập tài khoản';
      }

      if (!this.password) {
        this.errors.password = 'Vui lòng nhập mật khẩu';
      }

      if (this.errors.username || this.errors.password) {
        return;
      }

      try {
        const response = await axios.post('api/auth/login', {
          username: this.username,
          password: this.password
        });

        localStorage.setItem('token', response.data.token);
        localStorage.setItem('role', response.data.role);
        this.$router.push('/dashboard');
      } catch (error) {
        console.error('Lỗi khi đăng nhập:', error);
        if (error.response && error.response.status === 401) {
          this.errors.general = 'Sai tài khoản hoặc mật khẩu';
        } else if (error.response && error.response.data === "pending_approval") {
          this.errors.general = 'Tài khoản của bạn đang chờ được phê duyệt';       
        } else {
          this.errors.general = 'Sai tài khoản hoặc mật khẩu. Vui lòng thử lại.';
        }
      }
    }
  }
}
</script>

<style>
@media (max-width: 768px) {
  .ccard-primary {
    width: 100%;
  }
}
</style>
