<template>
  <div class="bwrapper min-vh-100 d-flex flex-row align-items-center">
    <CContainer>
      <CRow class="justify-content-center">
        <CCol :md="9" :lg="7" :xl="6">
          <CCard class="mx-4">
            <CCardBody class="p-4">
              <CForm @submit.prevent="handleSubmit">
                <h1>Register</h1>
                <p class="text-body-secondary">Create your account</p>
                <small v-if="errors.general" class="text-danger">{{ errors.general }}</small>
                <small v-if="errors.username" class="text-danger">{{ errors.username }}</small>
                <CInputGroup class="mb-3">
                  <CInputGroupText>
                    <CIcon icon="cil-user" />
                  </CInputGroupText>
                  <CFormInput placeholder="Username" autocomplete="username" v-model="username" />
                </CInputGroup>

                <small v-if="errors.full_name" class="text-danger">{{ errors.full_name }}</small>
                <CInputGroup class="mb-3">
                  <CInputGroupText>
                    <CIcon icon="cil-user" />
                  </CInputGroupText>
                  <CFormInput placeholder="Full Name" autocomplete="fullname" v-model="full_name" />
                </CInputGroup>

                <small v-if="errors.email" class="text-danger">{{ errors.email }}</small>
                <CInputGroup class="mb-3">
                  <CInputGroupText>@</CInputGroupText>
                  <CFormInput placeholder="Email" autocomplete="email" v-model="email" />
                </CInputGroup>

                <small v-if="errors.password" class="text-danger">{{ errors.password }}</small>
                <CInputGroup class="mb-3">
                  <CInputGroupText>
                    <CIcon icon="cil-lock-locked" />
                  </CInputGroupText>
                  <CFormInput type="password" placeholder="Password" autocomplete="new-password" v-model="password" />
                </CInputGroup>

                <small v-if="errors.re_password" class="text-danger">{{ errors.re_password }}</small>
                <CInputGroup class="mb-4">
                  <CInputGroupText>
                    <CIcon icon="cil-lock-locked" />
                  </CInputGroupText>
                  <CFormInput type="password" placeholder="Repeat password" autocomplete="new-password"
                    v-model="re_password" />
                </CInputGroup>

                <div class="d-grid">
                  <CButton color="success" type="submit">Create Account</CButton>
                </div>
              </CForm>
            </CCardBody>
          </CCard>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Register',
  data() {
    return {
      username: '',
      full_name: '',
      email: '',
      password: '',
      re_password: '',
      errors: {
        username: '',
        full_name: '',
        email: '',
        password: '',
        re_password: '',
        general: ''
      }
    }
  },
  methods: {
    validateEmail(email) {
      const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
      return re.test(String(email).toLowerCase())
    },
    async handleSubmit() {
      this.errors.full_name = '';
      this.errors.username = '';
      this.errors.email = '';
      this.errors.password = '';
      this.errors.general = '';
      this.errors.re_password = '';

      if (!this.username) {
        this.errors.username = 'Vui lòng nhập tài khoản';
      }

      if (!this.full_name) {
        this.errors.full_name = 'Vui lòng nhập tên của bạn';
      } else if (this.full_name.length < 5) {
        this.errors.full_name = 'Tên phải có ít nhất 5 ký tự';
      }

      if (!this.email) {
        this.errors.email = 'Vui lòng nhập email';
      } else if (!this.validateEmail(this.email)) {
        this.errors.email = 'Định dạng email không hợp lệ';
      }

      if (!this.password) {
        this.errors.password = 'Vui lòng nhập mật khẩu';
      }

      if (this.re_password !== this.password) {
        this.errors.re_password = 'Mật khẩu không trùng nhau. Vui lòng thử lại';
      }

      if (this.errors.username || this.errors.full_name || this.errors.email || this.errors.password || this.errors.re_password) {
        return;
      }

      try {
        const response = await axios.post('api/auth/register', {
          username: this.username,
          fullName: this.full_name,
          email: this.email,
          password: this.password,
          rePassword: this.re_password
        })

        this.$router.push('/login')
      } catch (e) {
        if (e.response && e.response.status === 404) {
          this.errors.general = 'Username đã tồn tại. Vui lòng thử lại';
        } else {
          this.errors.general = 'Tài khoản đã được tạo. Vui lòng thử lại';
        }
      }

    }
  }
}
</script>