<template>
    <div class="wrapper min-vh-100 d-flex flex-row align-items-center">
      <CContainer>
        <CRow class="justify-content-center">
          <CCol :md="8" :sm="12">
            <CCard class="p-4">
              <CCardBody>
                <CForm @submit.prevent="handleResetPassword">
                  <h1>Đặt lại mật khẩu</h1>
                  <p class="text-body-secondary">Nhập mật khẩu mới của bạn cho tài khoản: {{ username }}</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput 
                      placeholder="Mật khẩu mới"
                      type="password"
                      v-model="password"
                    />
                  </CInputGroup>
                  <p v-if="errors.password" class="text-danger">{{ errors.password }}</p>
                  <CInputGroup class="mb-3">
                    <CInputGroupText>
                      <CIcon icon="cil-lock-locked" />
                    </CInputGroupText>
                    <CFormInput 
                      placeholder="Xác nhận mật khẩu mới"
                      type="password"
                      v-model="confirmPassword"
                    />
                  </CInputGroup>
                  <p v-if="errors.confirmPassword" class="text-danger">{{ errors.confirmPassword }}</p>
                  <CRow>
                    <CCol :xs="6">
                      <CButton color="primary" class="px-4" type="submit">Đặt lại mật khẩu</CButton>
                    </CCol>
                    <CCol :xs="6" class="text-right">
                      <CButton color="link" class="px-0" @click="goBackToLogin">
                        Quay lại đăng nhập
                      </CButton>                     
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </CContainer>
    </div>
  </template>
  
  <script>
  import axios from 'axios';
  
  export default {
    name: 'ResetPassword',
    data() {
      return {
        username: this.$route.params.username,
        token: this.$route.params.token,
        password: '',
        confirmPassword: '',
        errors: {
          password: '',
          confirmPassword: ''
        }
      };
    },
    methods: {
  async handleResetPassword() {
    if (!this.password || !this.confirmPassword) {
      this.errors.password = this.password ? '' : 'Vui lòng nhập mật khẩu mới';
      this.errors.confirmPassword = this.confirmPassword ? '' : 'Vui lòng xác nhận mật khẩu mới';
      return;
    }

    if (this.password !== this.confirmPassword) {
      this.errors.confirmPassword = 'Mật khẩu xác nhận không khớp';
      return;
    }

    try {
      console.log({
        username: this.username,
        token: this.token,
        newPassword: this.password
      });

      await axios.post('/api/auth/reset-password', {
        username: this.username,
        token: this.token,
        newPassword: this.password
      });
      alert('Mật khẩu đã được đặt lại thành công.');
      this.$router.push({ name: 'Login' });
    } catch (error) {
      console.error('Error resetting password:', error);
      alert('Đã xảy ra lỗi khi đặt lại mật khẩu.');
    }
  },
  goBackToLogin() {
    this.$router.push({ name: 'Login' });
  }
}
  };
  </script>
  