<template>
  <div v-if="isAdmin">
    <CRow :xs="{ gutter: 4 }">
      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC
          class="mb-3"
          :value="userDataCount"
          :progress="{ color: 'info', value: 100 }"
        >
          <template #icon
            ><i class="fas fa-users" style="font-size: 40px; color: blue"></i
          ></template>
          <template #title>Thành viên</template>
        </CWidgetStatsC>
      </CCol>

      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC class="mb-3" :value="testCount" :progress="{ color: 'info', value: 100 }">
          <template #icon
            ><i class="fas fa-book" style="font-size: 40px; color: green"></i
          ></template>
          <template #title>Bài thi</template>
        </CWidgetStatsC>
      </CCol>

      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC
          class="mb-3"
          :value="questionCount"
          :progress="{ color: 'info', value: 100 }"
        >
          <template #icon
            ><i class="far fa-question-circle" style="font-size: 40px; color: lightseagreen"></i
          ></template>
          <template #title>Câu hỏi</template>
        </CWidgetStatsC>
      </CCol>
    </CRow>
  </div>
  <div v-else>
    <CRow :xs="{ gutter: 4 }">
      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC class="mb-3" :value="countTestUser" :progress="{ color: 'info', value: 100 }">
          <template #icon
            ><i class="fas fa-book" style="font-size: 40px; color: green"></i
          ></template>
          <template #title>Bài thi của bạn</template>
        </CWidgetStatsC>
      </CCol>
      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC class="mb-3" :value="countTestWork === 0 ? '0' : countTestWork" :progress="{ color: 'info', value: 100 }">
          <template #icon
            ><i class="fas fa-book-reader" style="font-size: 40px; color: violet"></i
          ></template>
          <template #title>Bài thi chưa làm</template>
        </CWidgetStatsC>
      </CCol>
      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC class="mb-3" :value="countTestOutDate === 0 ? '0' :  countTestOutDate" :progress="{ color: 'info', value: 100 }">
          <template #icon><i class="fa fa-exclamation-triangle" style="font-size: 40px; color: red"></i></template>
          <template #title>Bài thi quá hạn</template>
        </CWidgetStatsC>
      </CCol>
      <CCol :sm="6" :xl="4" :xxl="3">
        <CWidgetStatsC
          class="mb-3"
          :value="countFinish === 0 ? '0' :  countFinish"
          :progress="{ color: 'info', value: 100 }"
        >
          <template #icon><i class="far fa-check-circle" style="font-size: 40px; color: green"></i></template>
          <template #title>Bài thi hoàn thành</template>
        </CWidgetStatsC>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import axios from 'axios';

export default {
  data() {
    return {
      isAdmin: false,
      userDataCount: 0,
      testCount: 0,
      questionCount: 0,
      user_id:'',
      testList: [],
      countTestUser:0,
      dataTest:[],
      countTestWork: 0,
      countTestOutDate: 0,
      countFinish: 0,
    };
  },
  mounted() {
    this.callInforLogin();
    this.loadTests();
    const router = useRouter();
    (async () => {
      try {
        const userRole = localStorage.getItem('role');
        if (userRole === 'ROLE_ADMIN') {
          this.isAdmin = true;
        } else {
          this.isAdmin = false;
          router.push('/dashboard');
        }

        const response1 = await axios.get('api/users/allUserActivated');
        this.userDataCount = response1.data.length;

        const response2 = await axios.get('api/test');
        this.testCount = response2.data.length;

        const response3 = await axios.get('/api/question/getCount');
        this.questionCount = response3.data.length;
      } catch (error) {
        console.error('Error fetching data:', error);
      }
    })();
  },
  methods: {
    async callInforLogin() {
      try {
        const response = await axios.get(`api/test/getUser`)
        this.user_id = response.data
        console.log('ID user:', this.user_id)
      } catch (error) {
        console.error('Error submitting exam:', error)
      }
      console.log('ID user 1111:', this.user_id)
      const response2 = await axios.get(`api/testUser/getTestByUser/${this.user_id}`)
      this.dataTest = response2.data
      this.dataTest.forEach((item) => {
          if(item.result == null){
            if(new Date(item.test.time_start) > new Date()){
              this.countTestWork += 1;
              
            }
            else {
              this.countTestOutDate += 1;
              
            }
          }
          else {
            this.countFinish += 1;
            
          }
        })

        console.log('ID user 12:', this.countTestWork)
        console.log('ID user 13:', this.countTestOutDate)
        console.log('ID user 14:', this.countFinish)
    },
    async getAllNotAdmin(){

    },
    async loadTests() {
      axios
      .get('/api/test')
      .then((response) => {
        this.testList = response.data
        this.testList.forEach((item) => {
          if (item.user_created === this.user_id) {
            this.countTestUser += 1;
          }
        })
        console.log("gfhsgdfs: ", this.countTestUser)
      })
      .catch((error) => {
        console.error('Error fetching test list:', error)
      })
      
    },
  }
};
</script>

