<template>
  <div class="chart-section">
    <div class="chart-container">
      <CChart v-if="chartLoaded" type="pie" :data="chartData" :options="chartOptions" ref="mainChartRef" style="width: 300px; height: 300px;" />
      <h1>Thống kê tài khoản</h1>
    </div>
    <div class="chart-container">
      <CChart v-if="chartLoaded" type="pie" :data="completionChartData" :options="completionChartOptions" ref="completionChartRef" style="width: 300px; height: 300px;" />
      <h1>Thống kê bài thi</h1>
    </div>
    <div class="chart-container">
      <CChart v-if="chartLoaded" type="bar" :data="scoresChartData" :options="chartOptions" ref="scoresChartRef" style="width: 500px; height: 300px; margin-top: 20px;" />
      <h1>Thống kê điểm</h1>
    </div>
    <div v-if="errorMessage" class="text-danger">{{ errorMessage }}</div>
  </div>
</template>

<script>
import { ref } from 'vue'
import { CChart } from '@coreui/vue-chartjs'
import axios from 'axios'

export default {
  name: 'StatisticsChart',
  components: {
    CChart,
  },
  data() {
    return {
      mainChartRef: ref(null),
      completionChartRef: ref(null),
      scoresChartRef: ref(null),
      chartData: {
        labels: ['Đã phê duyệt', 'Chưa phê duyệt'],
        datasets: [
          {
            label: 'Members',
            backgroundColor: ['rgba(75, 192, 192, 0.2)', 'rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
            data: [], // Initial data
          }
        ],
      },
      completionChartData: {
        labels: ['Đã hoàn thành', 'Chưa hoàn thành'],
        datasets: [
          {
            label: 'Exams',
            backgroundColor: ['rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)'],
            borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)'],
            data: [], // Initial data
          }
        ],
      },
      scoresChartData: {
        labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], // Tên thành viên
        datasets: [
          {
            label: 'Điểm thi',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            data: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], // Điểm của từng thành viên
          }
        ],
      },
      chartOptions: {
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: true,
          },
        },
      },
      errorMessage: '',
      chartLoaded: false,
    };
  },
  methods: {
    async fetchData() {
      try {
        const [userData, examData] = await Promise.all([
          axios.get('/api/users/statistics'),
          axios.get('/api/testUser/exams')
        ]);

        this.chartData.datasets[0].data = [userData.data.approved, userData.data.unapproved];
        this.completionChartData.datasets[0].data = [examData.data.completed, examData.data.notCompleted];
        this.chartLoaded = true;
      } catch (error) {
        console.error('Error fetching data:', error);
        this.errorMessage = 'Unable to fetch data.';
      }
    },
  },
  mounted() {
    this.fetchData();
  }
}
</script>

<style>
.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.chart-container h1 {
  margin-top: 10px;
  text-align: center;
}
</style>
