<template>
  <CContainer class="border bg-white psr" fluid>
    <h3 class="text-center mt-2 text-uppercase">BÀI THI {{ name }}</h3>
    <hr />
    <div class="">
      <div class="d-flex justify-content-end">
        <div class="countdown-timer">
          {{ remainingTime }}
        </div>
      </div>
    </div>
    

    <CCol xs="12" v-for="(question, index) in questionList" :key="question.id">
      <CCallout :color="index % 2 === 0 ? 'success' : 'info'">
        <b>{{ `Câu ${index + 1}: ${question.name}` }}</b>
        <br />
        <div v-if="question.file" class="ml-3">
          <img :src="question.file" alt="img" class="img-fluid" />
        </div>
        <div>
          <CListGroup>
            <CListGroupItem v-for="choice in question.choices" :key="choice.id">
              <CFormCheck
                :type="question.count_answer > 1 ? 'checkbox' : 'radio'"
                :id="`${question.id}-${choice.id}`"
                :name="`${question.id}-answers`"
                :label="choice.content"
                :value="choice.id"
                @change="updateUserAnswers(question.id, choice.id)"
              />
            </CListGroupItem>
          </CListGroup>
        </div>
      </CCallout>
    </CCol>

    <CCol xs="12" class="text-center mb-2">
      <CButton @click="submitQuiz" color="primary" class="mt-3">Nộp bài</CButton>
    </CCol>
  </CContainer>
</template>

<script>
import axios from 'axios'

export default {
  data() {
    return {
      name: '',
      questionList: [],
      test_id: '',
      count: '',
      isModalVisible: false,
      currentTestId: null,
      countCorrect: '',
      userAnswers: {}, // Lưu trữ  lựa chọn cho mỗi câu hỏi
      resultQuiz: {
        test_id: '',
        user_id: '',
        result: '',
        time_work: '',
      },
      totalTime: '',
      currentTime: '', // Thời gian làm bài
      timer: null,
      finished: false,
    }
  },

  computed: {
    remainingTime() {
      let minutes = Math.floor(this.currentTime / 60)
      let seconds = this.currentTime % 60
      return `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`
    },
  },

  mounted() {
    this.test_id = this.$route.params.id
    axios
      .get(`/api/test/getTest/${this.test_id}`)
      .then((response) => {
        this.name = response.data.name
      })
      .catch((error) => {
        console.error('Error fetching test list:', error)
      })
    this.count = this.$route.params.number
    this.totalTime = this.$route.params.time * 60
    this.currentTime = this.totalTime
    this.totalTime = this.$route.params.time * 60
    this.fetchQuestions()
    this.startTimer()
  },
  methods: {
    saveTemporaryState() {
      const quizState = {
        questionList: this.questionList,
        currentTime: this.currentTime,
        userAnswers: this.userAnswers,
      }
      localStorage.setItem('quizState', JSON.stringify(quizState))
    },
    async callInforLogin() {
      try {
        const response = await axios.get(`/api/test/getUser`)
        this.resultQuiz.user_id = response.data
      } catch (error) {
        console.error('Error fetching user info:', error)
      }
    },

    updateUserAnswers(questionId, choiceId) {
      if (!this.userAnswers[questionId]) {
        this.userAnswers[questionId] = []
      }

      const index = this.userAnswers[questionId].indexOf(choiceId)
      if (index === -1) {
        // Thêm lựa chọn
        this.userAnswers[questionId].push(choiceId)
      } else {
        // Xóa lựa chọn
        this.userAnswers[questionId].splice(index, 1)
      }
    },

    submitQuiz() {
      clearInterval(this.timer) // Dừng timer khi nộp bài
      const promises = []

      // Lặp qua mỗi câu hỏi
      for (const questionId in this.userAnswers) {
        const selectedChoices = this.userAnswers[questionId]
        const payload = {
          question_id: questionId,
          selected_choices: selectedChoices,
        }
        // Lặp lại những lựa chọn của người dùng
        for (const select in selectedChoices) {
          // Tạo data để lưu luwajchonj của người dùng
          const payload2 = {
            questionId: questionId,
            choiceId: selectedChoices[select],
            userId: this.resultQuiz.user_id,
            testId: this.test_id,
          }
          // Lưu câu trả lời của người dùng
          try {
            const response = axios.post('/api/userAnswer/create', payload2)
          } catch (error) {
            console.error('Error submitting exam:', error)
          }
        }
        // Gửi yêu cầu và đẩy vào mảng promises
        const promise = axios
          .post('/api/choice/check', payload)
          .then((response) => {
            return response.data.correct ? 1 : 0
          })
          .catch((error) => {
            return 0
          })
        promises.push(promise)
      }

      // Kết quả
      Promise.all(promises)
        .then((results) => {
          this.countCorrect = results.reduce(
            (accumulator, currentValue) => accumulator + currentValue,
            0,
          )
          // Tính thời gian làm bài
          this.resultQuiz.test_id = this.test_id
          this.resultQuiz.result = `${this.countCorrect}/${this.count}`
          this.resultQuiz.time_work = this.totalTime - this.currentTime // Thời gian làm bài

          // Lưu kết quả làm bài
          axios
            .put('/api/testUser/record', this.resultQuiz)
            .then((response) => {})
            .catch((error) => {
              console.error('Error from server:', error)
              // Handle error
            })
          setTimeout(() => {
            this.$router.push({ name: 'ResultQuiz', params: { id: this.test_id } })
          }, 2000)
        })
        .catch((error) => {
          console.error('Error while processing results:', error)
        })
    },
    // Lấy câu hỏi cho bài thi
    fetchQuestions() {
      if (this.test_id && this.count) {
        axios
          .get(`/api/question/getQuestionByTestId/${this.test_id}/${this.count}`)
          .then((response) => {
            this.questionList = response.data
            const baseUrl = 'https://httn-25.onrender.com/image/'
            this.questionList = this.questionList.map((question) => {
              return {
                ...question,
                file: question.file ? baseUrl + question.file : '',
              }
            })
            this.fetchAnswers()
          })
          .catch((error) => {
            console.error('Error fetching test list:', error)
          })
      }
    },

    // Lấy lựa chọn cho các câu hỏi
    fetchAnswers() {
      const questionIds = this.questionList.map((question) => question.id)
      const answerPromises = questionIds.map((id) => {
        return axios.get(`/api/choice/getChoiceByQuestionId/${id}`)
      })
      Promise.all(answerPromises)
        .then((responses) => {
          this.questionList = this.questionList.map((question, index) => {
            const choices = responses[index].data.choices
            // Lấy số câu trả lời đúng
            const countAnswer = responses[index].data.countAnswers

            //Gán vào mảng questionList
            return {
              ...question,
              choices: choices,
              count_answer: countAnswer,
            }
          })
        })
        .catch((error) => {
          console.error('Error fetching answers:', error)
        })
    },
    startTimer() {
      this.timer = setInterval(() => {
        if (this.currentTime <= 0) {
          clearInterval(this.timer)
          this.finished = true
          this.submitQuiz() // Nộp bài khi hết giờ
        } else {
          this.currentTime--
        }
      }, 1000)
    },
  },

  created() {
    // Gọi API khi component được tạo
    this.callInforLogin()
  },
}
</script>
<style scoped>
.img-fluid {
  max-width: 100%;
  height: auto;
}
.ml-3 {
  margin-left: 1rem;
}
.icon-color {
  padding: 3px;
  color: red;
}
.border {
  border-radius: 5px;
}

.bg-white {
  background-color: #fff;
}

.text-danger {
  color: red;
  text-decoration: none;
  margin-right: 5px;
}

.text-warning {
  color: orange;
  text-decoration: none;
  margin-right: 5px;
}

.text-success {
  color: green;
  text-decoration: none;
  margin-right: 5px;
}

.text-white {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

.list-group-item {
  border: none;
}
.d-flex {
  
}
.psr {
  position: relative;
}

.countdown-timer {
  position: fixed;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  color: #ffffff;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: inline-block;
  animation: pulse 1s infinite;
  z-index: 1000;
}
/* Hiệu ứng nhấp nháy */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}
</style>
