<template>
  <CContainer class="border bg-white" fluid>
    <h3 class="text-center mt-2">KẾT QUẢ LÀM BÀI</h3>
    <hr />
    <CRow>
      <CCol :sm="6">
        <div class="result-info">
          <h4 class="result-title">Thông tin kết quả</h4>
          <p><strong>Số câu trả lời đúng:</strong> {{ result }}</p>
          <p>
            <strong>Thời gian làm:</strong> {{ time_work_minutes }} phút
            {{ time_work_seconds }} giây
          </p>
          <p><strong>Điểm số:</strong> {{ per_result }}%</p>
        </div>
      </CCol>
      <CCol>
        <CChart style="width: 200px; height: 200px" type="doughnut" :data="chartData" />
      </CCol>
    </CRow>
    <hr />
    <h4 class="text-center mt-2">LỊCH SỬ LÀM BÀI CỦA BẠN</h4>
    <CCol xs="12" v-for="(question, index) in lstQuestion" :key="question.id">
      <CCallout :color="question.check ? 'success' : 'danger'">
        <b>{{ `Câu ${index + 1}: ${question.name}` }}</b>
        <i :class="question.check ? 'fas fa-check color-success' : 'fas fa-times color-danger'"></i>
        <div>
          <div v-if="question.file" class="ml-3">
            <img :src="question.file" alt="img" class="img-fluid" />
          </div>
          <CListGroup :class="index % 2 === 0 ? 'success-bg mt-2' : 'info-bg mt-2'">
            <CListGroupItem v-for="choice in question.choices" :key="choice.id">
              <CFormCheck
                :type="question.count_answer > 1 ? 'checkbox' : 'radio'"
                :id="`${question.id}-${choice.id}`"
                :name="`${question.id}-answers`"
                :label="choice.content"
                :value="choice.id"
                :checked="isChoiceSelected(question.id, choice.id)"
                disabled
              />
            </CListGroupItem>
          </CListGroup>
        </div>
      </CCallout>
    </CCol>
  </CContainer>
</template>
  
<script>
import { CChart } from '@coreui/vue-chartjs'
import axios from 'axios'
import { parseQuery } from 'vue-router'

export default {
  components: {
    CChart,
  },
  data() {
    return {
      test_id: '', // ID của bài thi
      user_id: '',
      questions: [], // Danh sách câu hỏi
      userAnswers: [],
      listIdQuestion: [],
      lstQuestion: [],
      selectedChoices: {},
      result: '',
      time_work_minutes: '',
      time_work_seconds: '',
      per_result: '',
      chartData: {
        labels: ['Đúng', 'Sai'],
        datasets: [
          {
            backgroundColor: ['#41B883', '#E46651'],
            data: [0, 0],
          },
        ],
      },
    }
  },
  mounted() {
    // Lấy test_id từ route 
    this.test_id = this.$route.params.id
    // Gọi các hàm tuần tự 
    this.initializeData()
  },
  methods: {
    async callInforLogin() {
      try {
        const response = await axios.get(`/api/test/getUser`)
        this.user_id = response.data
      } catch (error) {
        console.error('Error fetching user info:', error)
      }
    },

    async fetchUserAnswers() {
      try {
        const response = await axios.get(
          `/api/userAnswer/getUserAnswersByTestId/${this.test_id}/${this.user_id}`,
        )
        // Xử lý dữ liệu và gán vào userAnswers
        this.userAnswers = response.data
      } catch (error) {
        console.error('Error fetching user answers:', error)
      }
    },

    async fetchQuestions() {
      const questionIdSet = new Set()
      for (const answer of this.userAnswers) {
        questionIdSet.add(answer.questionId)
      }

      const questionMap = new Map()

      for (const answer of this.userAnswers) {
        const questionId = answer.questionId
        const selectedChoice = answer.choiceId

        if (questionMap.has(questionId)) {
          const choices = questionMap.get(questionId)
          choices.push(selectedChoice)
          questionMap.set(questionId, choices)
        } else {
          questionMap.set(questionId, [selectedChoice])
        }
      }

      // check đáp án
      const formattedData = Array.from(questionMap, ([questionId, choices]) => {
        return {
          question_id: questionId,
          selected_choices: choices,
        }
      })

      const checkPromises = formattedData.map((data) => {
        const payload = {
          question_id: data.question_id,
          selected_choices: data.selected_choices,
        }
        return axios
          .post('/api/choice/check', payload)
          .then((response) => (response.data.correct ? 1 : 0))
          .catch((error) => 0)
      })

      // Tạo biến trung gian để lưu trữ kết quả kiểm tra
      let checkResults = []

      try {
        checkResults = await Promise.all(checkPromises)
      } catch (error) {
        console.error('Error checking choices:', error)
      }

      this.listIdQuestion = Array.from(questionIdSet)

      // Từ id question lấy ra thông tin câu hỏi
      const promises = this.listIdQuestion.map((questionId) =>
        axios.get(`/api/question/getQuestionById/${questionId}`),
      )

      let questionResponses = []
      try {
        questionResponses = await Promise.all(promises)
      } catch (error) {
        console.error('Error fetching questions:', error)
      }

      this.lstQuestion = questionResponses.map((response) => response.data)

      const questionIds = this.lstQuestion.map((question) => question.id)
      const answerPromises = questionIds.map((id) => {
        return axios.get(`/api/choice/getChoiceByQuestionId/${id}`)
      })

      let answerResponses = []
      try {
        answerResponses = await Promise.all(answerPromises)
      } catch (error) {
        console.error('Error fetching answers:', error)
      }

      this.lstQuestion = this.lstQuestion.map((question, index) => {
        const choices = answerResponses[index].data.choices
        const countAnswer = answerResponses[index].data.countAnswers
        return {
          ...question,
          choices: choices,
          count_answer: countAnswer,
        }
      })

      // Hợp nhất kết quả kiểm tra vào lstQuestion
      this.lstQuestion = this.lstQuestion.map((question, index) => {
        const baseUrl = 'https://httn-25.onrender.com/image/'
        return {
          ...question,
          check: checkResults[index],
          file: question.file ? baseUrl + question.file : null,
        }
      })
    },

    isChoiceSelected(questionId, choiceId) {
      const userAnswer = this.userAnswers.find(
        (answer) => answer.questionId === questionId && answer.choiceId === choiceId,
      )
      return userAnswer !== undefined
    },

    // Kết quả của bài thi
    async resultStatistic() {
      try {
        const response = await axios.get(
          `/api/testUser/getTestUserByTestIdAndUserId/${this.test_id}/${this.user_id}`,
        )
        // Xử lý dữ liệu và gán vào userAnswers
        this.result = response.data.result
        this.time_work_minutes = Math.floor(response.data.timeWork / 60)
        this.time_work_seconds = response.data.timeWork % 60
        const [number1, number2] = this.result.split('/')
        this.number1 = parseInt(number1) // Chuyển đổi sang số nguyên
        this.number2 = parseInt(number2)
        this.per_result = ((this.number1 / this.number2) * 100).toFixed(2)
        // Cập nhật dữ liệu của biểu đồ
        this.chartData.datasets[0].data = [
          parseInt(this.number1),
          parseInt(this.number2 - this.number1),
        ]
      } catch (error) {
        console.error('Error fetching user answers:', error)
      }
    },

    // Gọi các phương thức tuần tự
    async initializeData() {
      await this.callInforLogin()
      await this.resultStatistic()
      await this.fetchUserAnswers()
      this.fetchQuestions()
    },
  },
}
</script>

  
<style scoped>
.color-success {
  color: #1b9e3e;
  margin-left: 10px;
}
.color-danger {
  color: red;
  margin-left: 10px;
}
.result-info {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
}
.result-title {
  text-align: center;
}
</style>
  