<template>
  <CFooter class="px-4">
    <div>
      <span class="ms-1"
        >&copy; Hệ thống thi trắc nghiệm trực tuyến - {{ new Date().getFullYear() }}</span
      >
    </div>
    <div class="ms-auto">
      <span class="me-1" target="_blank">Được xây dựng và phát triển bởi</span>
      <a href="https://3sjsc.com.vn" target="_blank">3S JSC</a>
    </div>
  </CFooter>
</template>
