<script setup>
import { useRouter } from 'vue-router'
import avatar from '@/assets/images/avatars/8.jpg'

const itemsCount = 42
const router = useRouter()

const handleLogout = () => {
  // Logic để xử lý logout, xóa thông tin người dùng khỏi localStorage hoặc state
   localStorage.removeItem('token')
  // Chuyển hướng đến trang đăng nhập
  router.push({ name: 'Login' })
}
const goToChangePassword = () => {
  // Chuyển hướng đến trang đổi mật khẩu
  router.push({ name: 'Đổi mật khẩu' })
}
</script>

<template>
  <CDropdown placement="bottom-end" variant="nav-item">
    <CDropdownToggle class="py-0 pe-0" :caret="false">
      <CAvatar :src="avatar" size="md" />
    </CDropdownToggle>
    <CDropdownMenu class="pt-0">
      <CDropdownHeader
        component="h6"
        class="bg-body-secondary text-body-secondary fw-semibold my-2"
      >
        Cài đặt
      </CDropdownHeader>
      <CDropdownItem> <CIcon icon="cil-user" /> Thông tin cá nhân </CDropdownItem>
      <CDropdownDivider />
      <CDropdownItem @click="goToChangePassword"> <CIcon icon="cil-shield-alt" /> Đổi mật khẩu </CDropdownItem>
      <CDropdownItem @click="handleLogout">
        <CIcon icon="cil-lock-locked" /> Đăng xuất
      </CDropdownItem>
    </CDropdownMenu>
  </CDropdown>
</template>
