<template>
    <CCard>
        <CContainer class="border" fluid>
            <h3 class="text-center mt-2">THÊM CÂU HỎI CHO BÀI THI</h3>
            <hr>
            <CRow class="mt-4">
                <CCol xs="9">
                    <CButton class="mx-2" color="primary" @click="() => { lgDemo = true; resetQuestion() }">Thêm mới
                    </CButton>
                    <button class="btn btn-primary" onclick="document.getElementById('fileInput').click()">Import</button>
                    <input id="fileInput" type="file" style="display: none;" @change="handleFileUpload" />
                    
                    <CModal backdrop="static" size="lg" :visible="lgDemo"
                        @close="() => { lgDemo = false; deleteImg(imagesUrl) }" @keydown.esc="lgDemo = false"
                        @click="closeModalOutside" :id="'modal' + question.id" aria-labelledby="OptionalSizesExample2">
                        <CModalHeader>
                            <CModalTitle id="OptionalSizesExample2">{{ isEditing ? 'Cập nhật câu hỏi' : 'Thêm mới câu hỏi'}}</CModalTitle>
                        </CModalHeader>
                        <CModalBody>
                            <CRow class="mb-3">
                                <CFormLabel for="content" class="col-sm-2 col-form-label">Tên câu hỏi</CFormLabel>
                                <div class="col-sm-10">
                                    <CFormInput type="text" id="content" class="content" v-model="question.name"
                                        required />
                                    <small class="text-danger" v-if="errors.name">{{ errors.name }}</small>
                                </div>
                            </CRow>
                            <CRow class="mb-3">
                                <CFormLabel for="file" class="col-sm-2 col-form-label">File</CFormLabel>
                                <div class="col-sm-10">
                                    <CFormInput type="file" id="file" class="file" @change="onFileChange($event)" />
                                    <small class="text-danger" v-if="errors.file">{{ errors.file }}</small>
                                    <div class="row">
                                        <div class="col-5 mt-2 pr-0" v-if="previewImageUrl">
                                            <div class="ml-3 img-container">
                                                <img :src="previewImageUrl" alt="img"
                                                    style="max-width: 300px; max-height: 200px; border: 1px solid #000;" />
                                                <i v-if="previewImageUrl" class="fa fa-times-circle delete-img"
                                                    aria-hidden="true" @click="deleteImg(previewImageUrl)"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </CRow>
                            <b class="mr-5">Câu trả lời</b>
                            <br>
                            <div v-for="(answer, index) in question.choices.slice(0, 8)" :key="index"
                                class="mt-2 d-flex justify-content-center align-items-center">
                                <CFormCheck :id="'choice' + index" v-model="question.choices[index].rightAnswer" />
                                <CFormInput class="mr-1" type="text" v-model="question.choices[index].content"
                                    placeholder="Nhập câu trả lời" required />
                                <CIcon class="icon-color" icon="cil-x-circle" @click="removeAnswer(index)" size="xxl" />
                                <small class="text-danger" v-if="errors['choice' + index]">{{ errors['choice' + index]
                                    }}</small>
                            </div>
                            <small class="text-danger" v-if="errors.choices">{{ errors.choices }}</small> <br />
                            <small class="text-danger" v-if="errors.duplicateChoices">{{ errors.duplicateChoices }}</small> <br />
                            <CButton v-if="question.choices.length < 8" class="mt-3" color="primary" size="sm"
                                @click="addAnswer">Thêm mới</CButton>
                        </CModalBody>
                        <CModalFooter>
                            <CButton color="secondary" @click="() => { lgDemo = false; deleteImg(imagesUrl) }">Quay lại
                            </CButton>
                            <CButton color="primary" @click="saveQuestion">{{ isEditing ? 'Cập nhật' : 'Lưu lại' }}
                            </CButton>
                        </CModalFooter>
                    </CModal>
                </CCol>
            </CRow>

            <h5 class="mt-3 mb-3 mx-2">DANH SÁCH CÂU HỎI</h5>
            <CRow class="mx-1">
                <h6 class="text-center text-danger" v-if="questionList.length == 0">Chưa có câu hỏi nào</h6>
                <CCol xs="12" v-for="(question, questionIndex) in paginatedQuestionList" :key="question.id">
                    <CCallout color="success" class="d-flex-box">
                        <div class="flex-grow-1">
                            <div class="mb-2">
                                <CButton color="primary" @click="editQuestion(question)">Cập nhật</CButton>
                            </div>
                            
                            <b>{{ questionIndex + 1 }}: {{ question.name }}</b>
                            <div>
                                <CListGroup>
                                    <CListGroupItem v-for="choice in question.choices" :key="choice.id">
                                        <CFormCheck :id="'choice' + choice.id" :label="choice.content"
                                            v-model="choice.rightAnswer" disabled />
                                    </CListGroupItem>
                                </CListGroup>
                            </div>
                        </div>
                        <div v-if="question.file" class="ml-3">
                            <img :src="question.file" alt="img" class="image-fluid"
                                style="" />
                        </div>
                        <i class="fa-sharp fa-solid fa-circle-xmark delete-question" aria-hidden="true" @click="deleteQuestion(question)"></i>
                    </CCallout>
                </CCol>
            </CRow>
            <!-- Thêm modal xác nhận xóa câu hỏi -->
            <CModal
                :visible="modalDeleteQuestion"
                @close="modalDeleteQuestion = false"
                aria-labelledby="DeleteQuestionModalLabel">
            <CModalHeader>
                <CModalTitle id="DeleteQuestionModalLabel">Xóa câu hỏi</CModalTitle>
            </CModalHeader>
            <CModalBody>Bạn có chắc chắn muốn xóa câu hỏi này không?</CModalBody>
            <CModalFooter>
                <CButton color="secondary" @click="modalDeleteQuestion = false">Quay lại</CButton>
                <CButton @click="confirmDeleteQuestion" color="primary">Xác nhận</CButton>
            </CModalFooter>
        </CModal>
            <CRow v-if="questionList.length != 0">
                <CCol xs="12">
                    <ul class="pagination justify-content-center">
                        <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                                @click.prevent="prevPage">Trước</a>
                        </li>
                        <li class="page-item" v-for="page in totalPages" :key="page"
                            :class="{ 'active': currentPage === page }">
                            <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                        </li>
                        <li class="page-item" :class="{ 'disabled': currentPage === totalPages }">
                            <a class="page-link" href="#" @click.prevent="nextPage">Tiếp</a>
                        </li>
                    </ul>
                </CCol>
            </CRow>
        </CContainer>
    </CCard>
</template>

<script>
import { CCard } from '@coreui/vue';
import axios from 'axios';
import * as XLSX from 'xlsx';
import ExcelJS from 'exceljs';

export default {
    data() {
        return {
            lgDemo: false,
            isEditing: false,
            imagesUrl: '',
            imageSelected: '',
            question: {
                id: '',
                name: '',
                file: '',
                test_id: '',
                choices: [],
                already_has_file: false
            },
            fileSelected: false,
            questionList: [],
            errors: {},
            itemsPerPage: 10,
            currentPage: 1,
            previewImageUrl: '',
            modalDeleteQuestion: false,
            questionToDelete: null,
        };
    },
    computed: {
        paginatedQuestionList() {
            const start = (this.currentPage - 1) * this.itemsPerPage;
            const end = start + this.itemsPerPage;
            return this.questionList.slice(start, end);
        },
        totalPages() {
            return Math.ceil(this.questionList.length / this.itemsPerPage);
        },
    },
    mounted() {
        const id = this.$route.params.id;
        this.question.test_id = id;
        this.getQuestionList(id);
        console.log(this.question.choices)
    },
    methods: {
        async handleFileUpload(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = async (e) => {
                    const workbook = new ExcelJS.Workbook();
                    await workbook.xlsx.load(e.target.result);
                    const worksheet = workbook.getWorksheet(1);
                    const jsonData = [];

                    worksheet.eachRow((row, rowNumber) => {
                        // Bỏ qua dòng tiêu đề
                        if (rowNumber === 1) return;

                        const correctAnswerCell = row.getCell(11); 
                        let correctAnswers = correctAnswerCell.value;

                        // Kiểm tra correctAnswers 
                        if (typeof correctAnswers === 'string') {
                            // Phân tách chuỗi thành một mảng 
                            correctAnswers = correctAnswers.split(',').map(Number); 
                        } else if (!Array.isArray(correctAnswers)) {
                            // Nếu correctAnswers không phải là  mảng
                            correctAnswers = [correctAnswers];
                        }

                        const question = {
                            testId: this.$route.params.id,
                            text: row.getCell(1).value,
                            image: null,
                            choices: [],
                            answers: correctAnswers 
                        };

                        // Đọc các câu trả lời từ cột C đến J
                        for (let i = 3; i <= 10; i++) {
                            const choice = row.getCell(i).value;
                            if (choice) {
                                question.choices.push(choice);
                            }
                        }

                        jsonData.push(question);
                    });

                    this.processExcelData(jsonData);
                };
                reader.readAsArrayBuffer(file);
            }
        },

        async processExcelData(data) {
            console.log(data)
            try {
                for (const question of data) {
                    const response = await axios.post('/api/question/import',question);
                    if (response.status === 200) {
                        console.log('Questions imported successfully');
                    }
                }
            } catch (error) {
                console.error('Error importing questions:', error);
            }
            location.reload();
        },
        async getQuestionList(id) {
            try {
                const response = await axios.get('/api/question/getAllQuestions/' + id);
                this.questionList = response.data;

                // Thay đổi trường file thành đường dẫn đến ảnh
                const baseUrl = 'https://httn-25.onrender.com/image/';
                this.questionList = this.questionList.map(question => {
                    return {
                        ...question,
                        file: question.file ? baseUrl + question.file : ''
                    };
                });

                // Lọc những câu trả lời của câu hỏi tương ứng
                await Promise.all(this.questionList.map((question, index) => this.getChoiceList(question.id, index)));

                this.message = response.data.message;
            } catch (error) {
                console.error('Error submitting exam:', error);
                this.message = error.response?.data?.message || 'Error fetching data';
            }
        },
        async getChoiceList(questionId, questionIndex) {
            try {
                const response = await axios.get('/api/choice/getChoices/' + questionId);
                this.questionList[questionIndex].choices = response.data;
            } catch (error) {
                this.message = error.response?.data?.message || 'Error fetching choices';
            }
        },
        deleteQuestion(question) {
            // Đặt modalDeleteQuestion thành true để hiển thị modal xác nhận
            this.modalDeleteQuestion = true;

            // Lưu thông tin câu hỏi cần xóa vào questionToDelete để sử dụng sau này
            this.questionToDelete = question;
    },
        confirmDeleteQuestion() {
            axios.delete(`/api/question/delete/${this.questionToDelete.id}`)
            .then(response => {
          // Xóa câu hỏi khỏi danh sách hiển thị
          const index = this.questionList.findIndex(item => item.id === this.questionToDelete.id);
          if (index !== -1) {
            this.questionList.splice(index, 1);
          }
          // Đóng modal
          this.modalDeleteQuestion = false;
        })
        .catch(error => {
          console.error('Error deleting question:', error);
        });
    },
        onFileChange(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    this.previewImageUrl = e.target.result;
                };
                reader.readAsDataURL(file);
                this.question.file = file;
                this.fileSelected = true;
                this.selectedFileName = file.name;
            }
        },
        closeModalOutside(event) {
            if (event.target === this.$el) {
                this.lgDemo = false;
            }
        },
        addAnswer() {
            if (this.question.choices.length < 8) {
                this.question.choices.push({ content: '', rightAnswer: false });
            }
        },
        validateQuestion() {
            this.errors = {};

            if (!this.question.name) {
                this.errors.name = 'Vui lòng nhập tên câu hỏi';
            }

            const numChoices = this.question.choices.length;
            if (numChoices < 2 || numChoices > 8) {
                this.errors.choices = 'Vui lòng thêm ít nhất 2 và không quá 8 câu trả lời';
            }

            this.question.choices.forEach((choice, index) => {
                if (!choice.content) {
                    this.errors[`choice${index}`] = 'Vui lòng nhập nội dung câu trả lời';
                }
            });

            if (!this.question.choices.some(choice => choice.rightAnswer) && this.question.choices.length > 0) {
                this.errors.choices = this.errors.choices ? `${this.errors.choices}. Vui lòng chọn ít nhất một câu trả lời đúng` : 'Vui lòng chọn ít nhất một câu trả lời đúng';
            }

            // Kiểm tra nội dung trùng lặp
            const choiceContents = this.question.choices.map(choice => choice.content);
            const uniqueContents = new Set(choiceContents);

            if (uniqueContents.size !== choiceContents.length) {
                this.errors.duplicateChoices = 'Các câu trả lời không được trùng lặp';
            }

            return Object.keys(this.errors).length === 0;
        },
        saveQuestion() {
            if (!this.validateQuestion()) {
                return;
            }

            let formData = new FormData();
            formData.append('file', this.question.file);
            formData.append('name', this.question.name);
            formData.append('test_id', this.question.test_id);
            formData.append('id', this.question.id);
            formData.append('choices', JSON.stringify(this.question.choices));

            if (this.isEditing) {
                if (this.previewImageUrl && !(this.question.file instanceof File)) {
                    formData.append('already_has_file', true);
                }
                axios.put(`/api/question/editQuestion/${this.question.id}`, formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.lgDemo = false;
                    this.getQuestionList(this.$route.params.id);
                    this.deleteImg(this.previewImageUrl)
                }).catch(error => {
                    console.error(error);
                });
            } else {
                axios.post('/api/question', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(response => {
                    this.lgDemo = false;
                    this.getQuestionList(this.question.test_id);
                    this.deleteImg(this.previewImageUrl)
                }).catch(error => {
                    console.error(error);
                });
            }
        },
        removeAnswer(index) {
            this.question.choices.splice(index, 1);
        },
        editQuestion(question) {
            console.log(question)
            console.log(this.question.choices)
            this.isEditing = true;
            this.question = { ...question };
            if (this.question.file) {
                this.previewImageUrl = this.question.file
            }
            this.lgDemo = true;
        },
        resetQuestion() {
            this.isEditing = false;
            this.question = {
                id: '',
                name: '',
                file: '',
                test_id: this.$route.params.id,
                choices: [],
            };
        },
        changePage(page) {
            if (page >= 1 && page <= this.totalPages) {
                this.currentPage = page;
            }
        },
        goToQuiz() {
            this.$router.push({ path: '/test/quiz' });
        },
        nextPage() {
            if (this.currentPage < this.totalPages) {
                this.currentPage++;
            }
        },
        prevPage() {
            if (this.currentPage > 1) {
                this.currentPage--;
            }
        },
        deleteImg(img) {
            this.question.file = '';
            if (img === this.imagesUrl) {
                this.imagesUrl = '';
            }
            this.previewImageUrl = '';
        }
    },
};
</script>

<style scoped>
.icon-color {
    padding: 3px;
    color: red;
}

.border {
    border-radius: 5px;
}

.bg-white {
    background-color: #fff;
}

.text-danger {
    color: red;
    text-decoration: none;
    margin-right: 5px;
}

.text-warning {
    color: orange;
    text-decoration: none;
    margin-right: 5px;
}

.text-success {
    color: green;
    text-decoration: none;
    margin-right: 5px;
}

.text-white {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}

.list-group-item {
    border: none;
}

.delete-img {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.img-container {
    position: relative;
    height: auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.d-flex-box {
    display: flex;
}
.image-fluid {
    max-width: 700px; 
    max-height: 350px; 
    border: 1px solid #000;
}
@media (max-width: 576px) {
    .d-flex-box {
        display: block;
    }
    .image-fluid {
        max-width: 100%;
        height: auto;
    }
}
.delete-question{
    cursor: pointer;
}
</style>
