<template>
  <CRow>
    <CCol>
      <CCard>
        <CCardHeader>
          <CIcon icon="cil-puzzle" /> Danh sách các câu hỏi
        </CCardHeader>
        <CCardBody>
          <CRow>
            <div>
              <form action="" method="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="keyword">Tìm kiếm</label>
                        <div class="col-sm-9">
                          <input type="text" id="keyword" name="keyword" th:value="${keyword}" class="form-control"
                            placeholder="Câu hỏi" autofocus />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5"></div>

                    <div class="col-lg-2" style="text-align: right;">
                      <button type="submit" class="btn btn-primary" style="width: 7rem;">Tìm
                        kiếm
                      </button>
                    </div>
                  </div>
                </div>
              </form>
              <div class="row" style="float: right; padding-bottom: 8px; margin-right: 3px;">
                <div class="col-lg-12">
                  <router-link class="btn btn-primary" style="width: 7rem;" asp-action="Create"
                    to="/theme/typography">Thêm mới</router-link>
                </div>
              </div>
              <!-- <CTable :columns="columns" :items="items" hover bordered /> -->
              <CTable hover bordered class="mt-5">
                <CTableHead>
                  <CTableRow>
                    <CTableHeaderCell scope="col" class="text-center">STT</CTableHeaderCell>
                    <CTableHeaderCell scope="col" class="text-center col-5">Nội dung câu hỏi</CTableHeaderCell>
                    <CTableHeaderCell scope="col" class="text-center col-3">Hình ảnh</CTableHeaderCell>
                    <CTableHeaderCell scope="col" class="text-center col-2">Ngày tạo</CTableHeaderCell>
                    <CTableHeaderCell scope="col" class="text-center col-2" style="width: 15%;">Thao tác</CTableHeaderCell>
                  </CTableRow>
                </CTableHead>
                <CTableBody>
                  <CTableRow v-for="item in items" :key="item.id">
                    <CTableHeaderCell :key="'header_' + item.id">
                      {{ item.id }}
                    </CTableHeaderCell>
                    <CTableDataCell :key="'class_' + item.id">
                      {{ item.class }}
                    </CTableDataCell>
                    <CTableDataCell :key="'heading_1_' + item.id">
                      {{ item.heading_1 }}
                    </CTableDataCell>
                    <CTableDataCell :key="'heading_2_' + item.id">
                      {{ item.heading_2 }}
                    </CTableDataCell>
                    <CTableDataCell class="text-center">
                      <CButton class="mx-2 text-white" color="info" @click="editItem(item.id)">Sửa</CButton>
                      <CButton class="mx-2 text-white" color="danger" @click="deleteItem(item.id)">Xóa</CButton>
                    </CTableDataCell>
                  </CTableRow>
                </CTableBody>
              </CTable>
            </div>
            <CPagination align="end" aria-label="Page navigation example" class="mt-2">
              <CPaginationItem aria-label="Previous" href="#" disabled><span aria-hidden="true">&laquo;</span>
              </CPaginationItem>
              <CPaginationItem href="#" active>1</CPaginationItem>
              <CPaginationItem href="#">2</CPaginationItem>
              <CPaginationItem href="#">3</CPaginationItem>
              <CPaginationItem aria-label="Next" href="#"><span aria-hidden="true">&raquo;</span></CPaginationItem>
            </CPagination>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>

</template>
<script>
export default {

  data: () => {
    return {
      columns: [
        {
          key: 'id',
          label: '#',
          _props: { scope: 'col' },
        },
        {
          key: 'class',
          _props: { scope: 'col' },
        },
        {
          key: 'heading_1',
          label: 'Heading',
          _props: { scope: 'col' },
        },
        {
          key: 'heading_2',
          label: 'Heading',
          _props: { scope: 'col' },
        },
      ],
      items: [
        {
          id: 1,
          class: 'Mark',
          heading_1: 'Otto',
          heading_2: '@mdo',
          _cellProps: { id: { scope: 'row' } },
        },
        {
          id: 2,
          class: 'Jacob',
          heading_1: 'Thornton',
          heading_2: '@fat',
          _cellProps: { id: { scope: 'row' } },
        },
        {
          id: 3,
          class: 'Larry the Bird',
          heading_2: '@twitter',
          _cellProps: { id: { scope: 'row' }, class: { colSpan: 2 } },
        },
      ]
    }
  },
  methods: {
    deleteItem(id) {
      console.log('👋 Well, hi there! Thanks for dismissing me.')
    },
    editItem(id) {
      console.log(id)
    }
  }
}
</script>