<template>
  <CRow>
    <CCol>
      <CCard>
        <CCardHeader>
          <CIcon icon="cil-user" /> Danh sách người dùng
        </CCardHeader>
        <CCardBody>
          <CRow>
            <div>
              <form @submit.prevent="searchUsers">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="keyword">Tìm kiếm</label>
                        <div class="col-sm-9">
                          <input type="text" id="keyword" v-model="searchKeyword" class="form-control"
                            placeholder="Tên người dùng, email hoặc số điện thoại" autofocus />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Trạng thái</label>
                        <div class="col-sm-5">
                          <select class="form-control select2" style="width: 100%;" v-model="selectedStatus">
                            <option value="">Tất cả</option>
                            <option value="true">Đã phê duyệt</option>
                            <option value="false">Chưa phê duyệt</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2" style="text-align: right;">
                    </div>
                  </div>
                </div>
              </form>
              <div class="row" style="float: right; padding-bottom: 8px; margin-right: 3px;">
              </div>
              <div class="table-container">
                <CTable class="mt-4" bordered border-color="primary">
                  <CTableHead>
                    <CTableRow class="text-center">
                      <CTableHeaderCell scope="col">STT</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Tên người dùng</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Tài khoản</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Email</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Trạng thái</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Ngày tạo</CTableHeaderCell>
                      <CTableHeaderCell scope="col">Thao tác</CTableHeaderCell>
                    </CTableRow>
                  </CTableHead>
                  <CTableBody>
                    <CTableRow v-for="(users, index) in paginatedUserList" :key="users.id" class="text-center">
                      <CTableHeaderCell scope="row">{{ index + 1 }}</CTableHeaderCell>
                      <CTableDataCell>{{ users.fullName }}</CTableDataCell>
                      <CTableDataCell>{{ users.username }}</CTableDataCell>
                      <CTableDataCell>{{ users.email }}</CTableDataCell>
                      <CTableDataCell>{{ users.status ? "Đã phê duyệt" : "Chưa phê duyệt" }}</CTableDataCell>
                      <CTableDataCell>{{ users.dateCreated }}</CTableDataCell>
                      <CTableDataCell class="text-center">
                        <CButton v-if="users.status" class="btn btn-primary fa fa-user-times text-white" v-c-tooltip="{content: 'Bỏ phê duyệt', placement: 'top'}" color="danger" @click="unapproveItem(users.id)"></CButton>
                        <CButton v-if="!users.status" class="fa fa-user-plus text-white" v-c-tooltip="{content: 'Phê duyệt', placement: 'top'}" color="success" @click="approveItem(users.id)"></CButton>
                      </CTableDataCell>
                    </CTableRow>
                  </CTableBody>
                </CTable>
              </div>
            </div>
            <CRow>
              <CCol xs="12">
                <ul class="pagination justify-content-center">
                  <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true" @click.prevent="prevPage">Trước</a>
                  </li>
                  <li class="page-item" v-for="page in totalPages" :key="page" :class="{ 'active': currentPage === page }">
                    <a class="page-link" href="#" @click.prevent="changePage(page)">{{ page }}</a>
                  </li>
                  <li class="page-item" :class="{ 'disabled': currentPage === totalPages }">
                    <a class="page-link" href="#" @click.prevent="nextPage">Sau</a>
                  </li>
                </ul>
              </CCol>
            </CRow>
          </CRow>
        </CCardBody>
      </CCard>
    </CCol>
  </CRow>
</template>
<script>
    import axios from 'axios';
    import moment from 'moment';

    export default {
    data() {
        return {
        listUsers: [], // Mảng để lưu trữ danh sách bài thi từ API
        currentPage: 1,
        itemsPerPage: 10,
        searchKeyword: '',
        selectedStatus: '',
        }
    },
    computed: {
      filteredUsers() {
      let filtered = this.listUsers;
      const keyword = this.searchKeyword.toLowerCase();

      if (keyword) {
        filtered = filtered.filter(user =>
          user.fullName.toLowerCase().includes(keyword) ||
          user.username.toLowerCase().includes(keyword) ||
          user.email.toLowerCase().includes(keyword) ||
          (user.phoneNumber && user.phoneNumber.toLowerCase().includes(keyword))
        );
      }

      if (this.selectedStatus !== '') {
        filtered = filtered.filter(user => String(user.status) === this.selectedStatus);
      }

      return filtered;
    },
    paginatedUserList() {
      const start = (this.currentPage - 1) * this.itemsPerPage;
      const end = start + this.itemsPerPage;
      return this.filteredUsers.slice(start, end);
    },
    totalPages() {
      return Math.ceil(this.filteredUsers.length / this.itemsPerPage);
    },
  },
    mounted() {
        // Gọi API để lấy danh sách bài thi khi component được mount
        axios
        .get('https://httn-25.onrender.com/api/users')
        .then((response) => {           
            this.listUsers = response.data;
            console.log(this.listUsers);     
            this.listUsers.forEach(users => {
                    // Chuyển đổi định dạng thời gian từ "yyyy-MM-ddTHH:mm:ss.000+00:00" sang "dd/MM/yyyy HH:mm:ss"
                    users.dateCreated = moment(users.dateCreated).format("DD/MM/yyyy HH:mm:ss");                  
                });
        })
        .catch((error) => {
            console.error('Error fetching test list:', error)
        })
    },
    methods: {
        changePage(page) {
        this.currentPage = page;
        },
        nextPage() {
        if (this.currentPage < this.totalPages) {
            this.currentPage++;
        }
        },
        prevPage() {
        if (this.currentPage > 1) {
            this.currentPage--;
        }
        },              
        approveItem(id) {
          // Call API to approve user
          axios.put(`https://httn-25.onrender.com/api/users/approve/${id}`)
          .then(response => {
            console.log(`User with ID ${id} has been approved.`);
            this.listUsers.forEach(users => {
              if (users.id === id) {
                users.status = true;
              }
            })
          })
          .catch(error => {
            console.error(`Error approving user with ID ${id}:`, error);
          })
        },
        unapproveItem(id) {
    // Call API to unapprove user
    axios.put(`https://httn-25.onrender.com/api/users/unapprove/${id}`)
      .then(response => {
        console.log(`User with ID ${id} has been unapproved.`);
        this.listUsers.forEach(users => {
          if (users.id === id) {
            users.status = false;
          }
        });
      })
      .catch(error => {
        console.error(`Error unapproving user with ID ${id}:`, error);
      });
  },
        searchUsers() {
      this.currentPage = 1; // Reset về trang đầu sau khi tìm kiếm
    }
      },
   }
</script>

<style scoped>
.text-white {
    color: white;
    text-decoration: none;
    margin-right: 5px;
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
</style>